<div class="ad-banner my-2" id="<%= id %>">
  <div class="ad-label"><%= label %></div>
  <div class="ad-placeholder">
    <div class="admoloBanner"
    data-publisher="eyJpdiI6Ijhzc1FTaDlTdTFXaW41bmd4eHJDNnc9PSIsInZhbHVlIjoiM2ZYMDRoOVhQNkpLU21icVFGV1RWQT09IiwibWFjIjoiZjk5NWFkN2I0MjZlN2U4ZTc5YTI2ZDRlZTllYmQwOGUxNjU4MDRkN2NiNGU0NzIxY2QxYTNhZTEyNzljYTBmMSIsInRhZyI6IiJ9"
    data-adsize="<%= typeof size !== 'undefined' ? size : '300x300' %>"></div>
  </div>
</div>
