<div class="admoloBanner"
data-publisher="eyJpdiI6ImUwQ3F0elB3N3ROSkh5UDNKcTVzVnc9PSIsInZhbHVlIjoiNkhDZlJBQ3pBdDQ5NmRQRHUxZ0JEUT09IiwibWFjIjoiNGUxNTdiMjNlODhjNTlmMTE5YWYzMzEzNDhkMWVhN2ZhOTBkNzFlMDUwNjRlNTllMmRjNjAzNjhhZmFiYjBjNyIsInRhZyI6IiJ9"
data-adsize="728x90">
</div>


<div class="ad-banner my-2" id="<%= id %>">
  <div class="ad-label"><%= label %></div>
  <!-- ✂ PASTE YOUR AD UNIT CODE BELOW ✂ -->
  <div class="ad-placeholder">
    <span>Ad Space &mdash; <a href="/advertise" style="color:var(--primary);">Advertise here</a></span>
  </div>
</div>
